:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body {
    width: auto;
    background-color: gainsboro;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#heading {
    font-size: 50px;
    margin-top:10px;
    margin-bottom: 15px;
}

#go_home {
    background-color: orange;
    padding:10px 25px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

#go_home a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#go_home:hover {
    background-color: gray;
}


#container {
    width: 60%;
    margin: 20px auto;
    background-color: whitesmoke;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#container h2  {
    margin: 5px 0px;
    font-size: 24px;
}   

#container button {
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 5px;
    background-color: skyblue;
    padding: 10px 0px;
}

#container button:hover {
    background-color: gray;
}

#container form {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    border: 1px solid gray;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 10px 20px;
    
}

#container form label {
    font-size: 18px;
}

#container form input {
    font-size: 18px;
    padding: 5px 8px;
    width: 300px;
    border-radius: 5px;
}

#container form button {
    padding: 8px 0px;
    width: 180px;
    background-color: lightgreen;
}

small {
    color: gray;
}

#container #delete_container {
    background-color: rgb(239, 165, 165);
    padding: 10px 15px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#delete_container span {
    width: 70%;
}

#delete_container span h2 {
    font-size: 24px;
    color: black;
}

#delete_container p {
    font-size: 16px;
    color: rgb(54, 54, 54);
    font-weight: 100;
}

#delete_container #delete_account {
    background-color: crimson;
    border: 2px solid black;
    font-weight: 600;
}

#delete_container #delete_account:hover {
    background-color: gray;
}

#container .line {
    width: 100%;
    height: 1px;
    background-color: rgb(141, 141, 141);
    margin: 5px auto;
}



